@charset "utf-8";
/* CSS Document */

/* ===============
 * 重新定义Html元素
 * =============== */

html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
table,
th,
td {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

ul,
ol {
    list-style: none outside none;
}

fieldset,
img {
    border: medium none;
}

caption,
th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 12px/150% Arial, Verdana, "宋体";
    color: #666666;
    background: #FFF none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}

a {
    color: #555;
    outline: medium none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

i,
cite,
em {
    font-style: normal;
}

/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block;
}

/* ==========================
 * 常用宽度、高度、边距、边框属性
 * ========================== */

.w {
    width: 100%
}

.wrapper {
    width: 1200px;
    margin: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.block {
    display: block;
}

.none {
    display: none;
}

.goods-price {
    font-family: Verdana;
}

.goods-price em {
    font-weight: 600;
    color: #ff6600;
}

/* ==========================
 * 广告区域布局样式
 * ========================== */

.ads-topbanner-layout {
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
}

/* 首页焦点区域
-------------------------------------- */

.zcdc-focus-layout {
    width: 100%;
    height: 405px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

/* 满屏背静切换焦点图 */

.full-screen-slides {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.full-screen-slides li {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.full-screen-slides li a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    z-index: 2;
}

.full-screen-slides-pagination {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 9;
    width: 600px;
    height: 6px;
    margin-left: -308px;
    padding: 7px 8px;
    font-size: 0;
    *word-spacing: -1px/*IE6、7*/;
    text-align: right;

}

/*filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33FFFFFF', endColorstr='#33FFFFFF'); background: rgba(255,255,255,0.2);*/

.full-screen-slides-pagination li {
    vertical-align: top;
    display: inline-block;
    *display: inline/*IE6、7*/
    ;
    width: 24px;
    height: 6px;
    margin-left: 4px;
    overflow: hidden;
    cursor: pointer;
    *zoom: 1;
    background: #4FB602;
}

/* filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#3F000000', endColorstr='#3F000000');background:rgba(0,0,0,0.25);*/

.full-screen-slides-pagination a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
}

.full-screen-slides-pagination .current {
    background: #ff6600;
}

.zc-main {
    color: #666;
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
}

.invest {
    height: 75px;
    overflow: hidden;
}

.invest li {
    float: left;
    width: 25%;
    height: 35px;
    border-left: 1px dotted #666;
    margin-left: -1px;
    margin-top: 20px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
}

.invest li em {
    margin: 0 8px;
    font-size: 20px;
    color: #f60;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.broadcast {
    height: 52px;
    margin: 35px auto;
    border: 1px solid #ddd;
    line-height: 52px;
    font-size: 14px;
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
}

.broadcast i {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 0 10px 3px 20px;
    vertical-align: middle;
    background: url(../images/zcdz/laba.png) no-repeat;
}

.zc-banner-01 {
    border-radius: 10px;
    overflow: hidden;
}

.zc-banner-01 img {
    width: 100%;
    height: 100%;
}

.zc-part1 {
    margin-top: 45px;
    overflow: hidden;
}

.zc-tool {
    float: left;
    width: 844px;
    height: 257px;
}

.zc-rank {
    float: right;
    width: 339px;
    height: 249px;
    margin-top: 4px;
    border: 1px solid #ddd;

}

.zc-rank-title {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
}

.zc-rank-title li {
    float: left;
}

.zc-rank-title li:first-child {
    text-align: center;
    width: 110px;
}

.zc-rank-title li:nth-child(2) {
    width: 110px;
}

.zc-rank-title li:last-child {
    width: 119px;
}

.zc-rank-sub {
    padding-top: 10px;
    padding-bottom: 5px;
}

.zc-rank-sub li:first-child {
    color: #ffab25;
}

.zc-rank-sub li:first-child i {
    height: 26px;
    vertical-align: middle;
    margin-bottom: 13px;
    background: url(../images/zcdz/zc-rank-first.png) center center no-repeat;
}

.zc-rank-sub li {
    height: 37px;
    line-height: 37px;
    color: #9f9f9f;
    text-align: left;
    font-size: 0;
}

.zc-rank-sub li strong {
    display: inline-block;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #9f9f9f;
    border-radius: 50%;
    font-weight: normal;
}

.zc-rank-sub li:nth-child(2) {
    color: #55b4ea;
}

.zc-rank-sub li:nth-child(2) strong {
    border-color: #55b4ea;
}

.zc-rank-sub li:nth-child(3) {
    color: #48d932;
}

.zc-rank-sub li:nth-child(3) strong {
   border-color: #48d932;
}



.zc-rank-sub i {
    display: inline-block;
    width: 110px;
    text-align: center;
    font-size: 14px;
}
.zc-rank-sub em {
    display: inline-block;
    width: 110px;
    font-size: 14px;
}
.zc-rank-sub span {
    display: inline-block;
    width: 119px;
    font-size: 14px;
}





div.bodyer {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

div.bodyer img {
    margin: 0 auto;
}